<h1>Posts#index</h1>

<% @posts.each do |post| %>
	<p>
		<%= truncate(post.title, length: 70, separator: ' ') %><br>
		<%= time_ago post.created_at %>
	</p>

	<p>
		<%= truncate(post.content, length: 104, separator: ' ') { link_to 'Read More', post_path(post) } %>
	</p>

	<p>
		<% post.tags.each do |tag| %>
			<%= link_to tag.name, '#' %>
		<% end %>
	</p>
<% end %>

<%= paginate @posts %>
